@mixin transition-ease {
  transition: all .5s ease-in-out;
}

@mixin flex-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-space-around($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-around;
  align-items: center;
}
